
{% block content %}
<h1>{{ school.name }} Access Keys</h1>

<table>
  <thead>
    <tr>
      <th>Access Key</th>
      <th>Status</th>
      <th>Procurement Date</th>
      <th>Expiry Date</th>
      <th>Assigned To</th>
    </tr>
  </thead>
  <tbody>
    {% for access_key in access_keys %}
    <tr>
      <td>{{ access_key.key }}</td>
      <td>{{ access_key.status }}</td>
      <td>{{ access_key.procurement_date }}</td>
      <td>{{ access_key.expiry_date }}</td>
      <td>{{ access_key.assigned_to}}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">No access keys found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock%}


